<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Tradier App</title>
  </head>

  <body>
    <div>
      <%= security %>
    </div>
    <div>
      <%= best_and_worst_five %>
    </div>
  </body>
</html>
